@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@300;400;500;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lexend Deca", sans-serif;
  line-height: 1.7;

  max-width: 1220px;
  margin: 0 auto;
}

.header {
  /* background: gray; */
  /* width: 80%; */
  /* margin: 0 auto; */
  padding: 40px 0;
  
}

.header h1 {
  font-size: 3.5rem;
  margin-bottom: 16px;
  font-weight: 700;
}

.header p {
  font-size: 1.4rem;
  margin-bottom: 16px;
  font-weight: 300;
}

.showcase {

  padding: 40px 0;

  display: flex;
  align-items: center;
  border-top: 2px solid lightgray;
}


.showcase-col1 {
  width: 70%;

   /* background-color: aquamarine; */
 
}

.showcase-col1 img {
  width: 100%;
  /* height: auto; */
  object-fit: cover;
  object-position: top center;
  height: 400px;
}


.showcase-col2 {
  width: 30%;
  /* height: 400px; */
  padding: 2rem;
  /* background-color: blueviolet; */
 
}

.showcase-col2 h3 {
  line-height: 1.2;
  margin-bottom: 1rem;
  font-size: 1.8rem;
}

/* author styles */

.author {
  margin-top: 32px;
  display: flex;
  /* justify-content: space-between; */
  gap: 16px;
  
  align-items: center;
}
.author-icon img {

 
  width: 32px;
  border-radius: 50%;;
}

.author-bio p:nth-child(1) {
  /* margin-bottom: 0; */
  font-size: 1.2rem;
}

.author-bio p {
  /* color: grey; */
}